
myapp/android/.settings/org.eclipse.buildship.core.prefs

myapp/android/app/.project

myapp/android/app/.classpath

myapp/android/app/.settings/org.eclipse.buildship.core.prefs

myapp/android/.project
